 <div class="jumbotron">
    <div class="container">
      <h2>Listado peliculas</h2>
      <ul class="grid">
          <li *ngFor="let pelicula of listadoDePeliculas">
              <span>{{pelicula.nombre}}</span>
              <p>
                <button class="btn btn-primary" (click)="seleccioneUnaPelicula(pelicula)">Ver detalles</button>
                <button class="btn btn-danger" (click)="eliminarUnaPelicula(pelicula)">Eliminar</button>
              </p>
          </li>
      </ul>
    </div>
  </div>